#pageContainer {
    width: 90%;
    margin: 0 auto;;
}

#avatardBlock #profilPicture {
    width: 100%;
    min-height: 27rem;
    background: #000;
    border-radius: 1.5rem;
    background: url('../../assets/AvatardProfil.png');
    background-size: cover;
}

#avatardBlock #socialProfil {
    width: 100%;
    min-height: 9rem;
    background: #0A4E68;
    margin-top: -1.5rem;
    position: relative;
    z-index: -1000;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
}

#socialProfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#socialProfil img {
    width: 2.3rem;
}

.blocContainer {
    padding: 3rem;
    border: 0.1rem solid #f1f1f1;
    background: #F8F8F8;
    border-radius: 1rem;
}

.specialStyle {
    background: #0A4E68;
    color: #fff;
}

.numberText {
    font-size: 6rem;
    font-weight: 900;
}

.fightNumber {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

h2 {
    margin-bottom: 0.8rem;
}

// Head Container (Grid)

#headContainer {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    grid-row: 300px;
    grid-gap: 2rem;
    margin: 2rem 0rem;
}

#avatardBlock {
    grid-row-start: 1;
    grid-row-end: 3;
}

.block5 {
    grid-column: 2 / 5;
}


 /* #avatardBlock {

}

.block1 {

}

.block2 {
    grid-column: 2 / 3;
}

.block3 {
     grid-column: 1 / 2;
}

.block4 {
     grid-column: 1 / 2;
}
*/

// Palmares container

.palmaresContainer {
    padding: 3rem;
    border: 0.1rem solid #f1f1f1;
    background: #F8F8F8;
    border-radius: 1rem;
    margin: 2rem 0rem;
}

.expContainer {
    display: flex;
    justify-content: space-between;
}

// Gallery Container

.galleryContainer img {
    width: 100%;
}

.galleryContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 2rem;
    margin: 2rem 0rem 8rem 0rem;
}