:root {
  font-family: "Google Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(37, 37, 37, 0.87);
  background-color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 700;
}

h3 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 700;
}

h4 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 700;
}

h5 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 700;
}

h6 {
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: 700;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background: #077BA8;
  cursor: pointer;
  transition: border-color 0.25s;
}

button a {
  color: #fff;
}

button a:hover {
  color: #fff;
}

button:hover {
  background: #0aa2de;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #077BA8;
  }
}
